
* { margin: 0; border: 0; padding: 0;}

nav  {background-color: gray; }

nav a {	padding: 10px; text-decoration: none; color: white; display: inline-block;}

h1 {text-align: center;}

section figure {width: 60%;	margin-top: 10px; margin-bottom: 10px;border: 1px solid blue;}

section figure img {width: 46%; margin: 10px auto 10px auto; }

header { text-align: center;}

main p {text-align: center;}

.img_header{ width: 15px; height: 100px;}