
* { margin: 0; border: 0; padding: 0;}

nav a {padding: 20px; display: inline-block;}

#Inicio {vertical-align: top; margin: 30px auto 30px auto ;}

header {background-color:  aqua; text-align: center;}

main h1 {text-align: center;}

main p {text-align: center;}





